*{
    /*width: auto;*/
    font-family: serif;
}

a{
    color: #666666;
}

body{
    background-color: #ffffff;
    color: #666666;
    width: 800px;
    margin: 20px auto;
    font-size: 140%;
}


h1{
    font-size: 250%;
    color: #000;
}
h2{
    text-align: center;
}
h3{
    font-weight: bold;
    color: darkgreen;
}
p{
    margin: 20px;
}
/* div{
    border: solid #ff0000 1px;
} */

/* header */
#maintitle{
    height: 80px;
    text-align: center;
}
#maintitle div{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
}
#maintitle img{
    vertical-align: middle;
}
.subtitle{
    text-align: center;
    /*border:solid #000 1px;*/
}

/* menue */
#menue{
    margin: 10px auto;
    text-align: center;
    /*background-color: bisque;*/
}
#menue li{
    /*margin: 0 auto;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /*background-color: burlywood;*/
}
#menue a:hover{
    color: #333333;
    font-weight: bold;
}
#menue-item li{
    width: 140px;
    display: inline-block;
    list-style-type: none;
    position: relative;
    text-align: center;
}
/* sub menue */
#menue-item ul{
    margin-top: 20px;
    display: none;
    position: absolute;
}
#menue-item li:hover ul{
    margin: 0px;
    padding: 0px;
    border: solid 1px #aaaaaa;
    display: block;
    background-color: #ffffffde;
}
.submenue li{
    margin: 5px auto;
}/*
.submenue ul{
    display: none;
    position: absolute;
}
.submenue li:hover ul{
    display: block;
}*/

/* parag */
#parag{
    padding: 15px;
    text-align: center;
}

/* main visual */
#mainvisual{
    text-align: center;
    clear: both;
}
#mainvisual img{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

/* music video*/
#mv iframe{
    width: 800px;
    height: 315px;
    border: rgb(51, 64, 184) solid 3px;
}

/* footer */
footer{
    text-align: center;
    margin: 20px;
}
#footericon a{
    margin: 10px 20px;
}


/***************************************/
/**************   blog   ***************/
/***************************************/
.diary{
    margin-bottom: 130px;
}
.diary h3{
    font-size: 130%;
    color: forestgreen;
}
.diary h5{
    color: forestgreen;
    font-size: 110%;
    margin-left: 20px;
}